<div id="mapContainer" class="container map-container">
    <img id="backgroundImage" class="img-fluid map-image" src="/Map/Get?layer=Background" />
    <img id="gridAndStrokesImage" class="img-fluid map-image" src="/Map/Get?layer=GridAndStrokes" />
    <img id="tokenImage" class="img-fluid map-image" src="/Map/Get?layer=Tokens" />
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/map.js"></script>